.comment-list-item-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    color: rgb(69, 69, 69);
}
.comment-body{
    margin-top: -10px;
}
.edit-comment-btns{
    margin-top: -20px;
}
