.user-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: -25%;
    width: 100%;
}

.user-info-item{
    list-style: none;
}

.user-profile-create{
    margin-bottom: 20px;
}

.user-info-username{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.user-info-edit-btn{
    margin-top: -20px;
    margin-left: 30px;
}

.user-bio{
    width: 400px;
    word-wrap: break-word;
}

.add-btn{
    font-size: 40px;
}
.add-btn:hover{
    cursor: pointer;
    color: #0a95ff;
}

.user-list-card{
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px silver;
    overflow-y: auto;
    word-break: break-word;
}

.user-list{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: auto;
    /* height: 800px; */
    gap: 10px;
    margin-left: -15%;
    list-style: none;
    overflow-y: auto;
}

.user-list-title{
    text-align: center;
    margin-left: -25%;
}
.user-link-user-list{
    color: rgb(110, 110, 110);
    font-size: 22px;
}
.user-link-user-list:hover{
    color: #0a95ff;
}

.user-edit-btn{
    margin-top: -20px;
    width: 60px;
    background-color: transparent;
    color: rgb(110, 110, 110);
}
.user-edit-btn:hover{
    background-color: transparent;
    color: #0a95ff;
    cursor: pointer;
    border: 2px solid #0a95ff;
}

.profile-image-list{
    display: flex;
    flex-direction: column-reverse;
}
