.user-info-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 75%;
}

.user-info-item{
    list-style: none;
}

.add-btn{
    font-size: 30px;
}
.add-btn:hover{
    cursor: pointer;
}
