.image-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: -100px;
    padding-top: 20px;
    
}

.full-image{
    display: flex;
    flex-direction: row;
    height: auto;
}

.image-pic {
    width: 500px;
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.image-pic-container{
    margin-bottom: -5px;
}

.image-text-container{
    background-color: white;
    width: 343px;
    height: 550px;
    word-break: break-word;
}

.image-text-container-header{
    border-bottom: 1px solid silver;
    padding-top: 5px;
    padding-left: 10px;
    height: 40px;
}

.caption-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-bottom: 1px solid silver;
}

.caption{
    padding-left: 5px;
    height: 55px;
    overflow-y: auto;
    margin-top: -1px;
    color: rgb(69, 69, 69);
}

.comment-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid silver;
    height: 315px;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    
}

.comment-container-content{
    display:flex;
    flex-direction: column;
    
}

.user-link{
    width: 100%;
    margin-top: -5px;
}

.comment-user {
    font-weight: bold;
    text-decoration: none;
    /* width: auto; */
}

.comment-body {
    padding-left: 10px;
    margin-top: -1px;
}

.edit-comment-btns{
    padding-left: 10px;
}

.image-icons-container-image{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding-left: 10px;
}

.image-icons-res-image{
    margin-top: -15px;
}
