.image-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: -100px;
    padding-top: 20px;
    
}

.image-btn-container{

}

.full-image{
    display: flex;
    flex-direction: row;
    height: auto;
}

.image-pic {
    width: 500px;
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.image-pic-container{
    /* width: 100px; */
    margin-bottom: -5px;
}

.image-text-container{
    background-color: white;
    width: 343px;
    height: 550px;
    
    /* overflow: auto; */
}

.image-text-container-header{
    border-bottom: 1px solid silver;
    padding-top: 5px;
    padding-left: 10px;
    height: 40px;
}

.caption-container {
    display: flex;flex-direction: column;
    padding-left: 10px;
}

.caption{
    padding-left: 5px;
    padding-bottom: 30px;
    overflow-wrap: break-word;
    height: 45px;
    /* word-break: break-all; */
    overflow-y: auto;
    word-wrap: break-word;
}

.comment-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid silver;
    height: 275px;
    overflow-y: auto;
    padding-left: 5px;
}

.comment-container-content{
    display:flex;
    flex-direction: column;
    /* height: auto; */
    
}

.user-link{
    width: 100%;
}

.comment-user {
    font-weight: bold;
    text-decoration: none;
    /* width: auto; */
}

.comment-body {
    padding-left: 10px;
    margin-top: -1px;
    /* overflow-wrap: break-word;
    word-wrap: break-word; */
    overflow-wrap: break-word;
    /* word-break: break-all; */
}

.edit-comment-btns{
    padding-left: 10px;
}

.image-icons-container-image{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding-left: 10px;
    /* height: 300px; */
}

.image-icons-res-image{
    margin-top: -15px;
}
