.comment-create-form-container input{
    width: 325px;
    height: 22px;
    margin-top: 5px;
    border-radius: 5px;
}

.comment-create-form-container button{
    background-color: transparent;
    color: #2c96e7;
    outline: none;
    border: none;
}
.comment-create-form-container button:disabled{
    background-color: transparent;
    color: #0a95ff;
    outline: none;
    border: none;
    opacity: 0.4;
}
