.following-modal{
    max-height: 600px;
    /* height: 500px; */
    /* height: auto; */
    overflow: auto;
}

.following-title{
    margin: 10px;
}

.following-modal-list {
    padding: 10px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.following-modal-link{
    text-align: left;
    margin: 30px 45px 0px;
    padding-bottom: 20px;
}

.following-modal-item-names{
    display: flex;
    flex-direction: row;
    width: 80px;
    margin: -30px 45px;
    padding-bottom: 10px;
    color: rgba(118, 115, 115, 0.61)
}

.following-modal-item{
    padding-right: 5px;
}

.following-modal-btn {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 40px;
    text-align: end;
}

.no-follows{
    margin: 20px;
}
